.App {
  text-align: center;
  background-color:	#36454f;
  width:100%;
  height:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.x{
  width: 20%;
}
.y{
  width: 80%;
}
.sidebar{
  background-color:#353935;
  width:30px;
  height:1000px;
}
.col{
  width:"20%"
}
.App-header {
  background-color:#4B0082;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#4B0082;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
